PORT=3000
NODE_ENV=development
DATABASE_URL="file:./prisma/dev.db"

SERVICE_NAME=conta-corrente-api
SERVICE_VERSION=1.0.0

METRICS_ENABLED=false
DD_AGENT_HOST=127.0.0.1
DD_DOGSTATSD_PORT=8125
DD_ENV=local
